# Global Settings
GLOBAL_DEBUG=True

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

SWAGGER_JSON=/swagger.yaml

HAWK_INTEGRATION_TOKEN=

# Admin Service (Django)
ADMIN_DJANGO_DB_NAME=admin_database
ADMIN_DJANGO_DB_USER=postgres
ADMIN_DJANGO_DB_PASSWORD=postgres
ADMIN_DJANGO_DB_HOST=admin_db
ADMIN_DJANGO_DB_PORT=5432

ADMIN_ALLOWED_HOSTS=127.0.0.1,localhost
ADMIN_INTERNAL_IPS=127.0.0.1,localhost

ADMIN_UWSGI_PROCESSES=1
ADMIN_UWSGI_THREADS=16
ADMIN_UWSGI_HARAKIRI=240

ADMIN_DJANGO_SUPERUSER_USERNAME=admin
ADMIN_DJANGO_SUPERUSER_EMAIL=admin@mail.ru
ADMIN_DJANGO_SUPERUSER_PASSWORD=admin

ADMIN_DEBUG=${GLOBAL_DEBUG}

ADMIN_SECRET_KEY=yandex

ADMIN_SERVICE_PORT=8002

# Auth Service (FastAPI)
AUTH_PROJECT_NAME='Auth API'

AUTH_POSTGRES_DB_NAME=auth_database
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres
AUTH_POSTGRES_HOST=auth_db
AUTH_POSTGRES_PORT=5432

AUTH_REDIS_HOST=redis
AUTH_REDIS_PORT=6379

AUTH_SUPERUSER_USERNAME=admin
AUTH_SUPERUSER_PASSWORD=admin

AUTH_DEBUG=${GLOBAL_DEBUG}

AUTH_YANDEX_CLIENT_ID=
AUTH_YANDEX_CLIENT_SECRET=
AUTH_YANDEX_REDIRECT_URI=http://localhost/api/v1/user/signin/yandex/callback

AUTH_SECRET_KEY_SESSION=yandex_session

AUTH_JWT_SECRET_KEY=yandex_secret
AUTH_JWT_ALGORITHM=HS256
AUTH_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1
AUTH_JWT_REFRESH_TOKEN_EXPIRE_DAYS=30

AUTH_ENABLE_TRACING=True
AUTH_TRACER_HOST=jaeger
AUTH_TRACER_PORT=6831

AUTH_SERVICE_HOST=auth
AUTH_SERVICE_PORT=8001

# API Service (FastAPI)
API_PROJECT_NAME='Movies API'

API_REDIS_HOST=redis
API_REDIS_PORT=6379

AUTH_DEBUG=${GLOBAL_DEBUG}

API_ELASTIC_PROTOCOL=http
API_ELASTIC_HOST=elasticsearch
API_ELASTIC_PORT=9200

API_DEBUG=${GLOBAL_DEBUG}

API_SERVICE_HOST=content
API_SERVICE_PORT=8000

# ETL Loader
ETL_ELASTIC_PROTOCOL=http
ETL_ELASTIC_HOST=elasticsearch
ETL_ELASTIC_PORT=9200
ETL_ELASTIC_PORTS=9200:9200

# Jaeger Service
JAEGER_PORTS=6831:6831

# Redis Service
REDIS_PORTS=6379:6379

# Nginx Service
NGINX_PORTS=80:80

# Kafka UI Service
KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=kafka-0:9092
KAFKA_CLUSTERS_0_NAME=kraft
KAFKA_UI_PORTS=8080:8080

# Kafka (General)
KAFKA_ENABLE_KRAFT=yes
ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_CFG_PROCESS_ROLES=broker,controller
KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_KRAFT_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT

# Kafka (Nodes)
KAFKA_0_CFG_NODE_ID=0
KAFKA_0_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
KAFKA_0_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
KAFKA_0_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-0:9092,EXTERNAL://kafka-0:9094
KAFKA_0_PORTS=9094:9094
KAFKA_0_PORT=9094
KAFKA_0_HOST=kafka-0

KAFKA_1_CFG_NODE_ID=1
KAFKA_1_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
KAFKA_1_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9095
KAFKA_1_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-1:9092,EXTERNAL://kafka-1:9095
KAFKA_1_PORTS=9095:9095
KAFKA_1_PORT=9095
KAFKA_1_HOST=kafka-1

KAFKA_2_CFG_NODE_ID=2
KAFKA_2_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
KAFKA_2_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9096
KAFKA_2_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-2:9092,EXTERNAL://kafka-2:9096
KAFKA_2_PORTS=9096:9096
KAFKA_2_PORT=9096
KAFKA_2_HOST=kafka-2

# UGC (FastAPI)
UGC_PROJECT_NAME='UGC Api'
UGC_SERVICE_PROTOCOL=http
UGC_DEBUG=${GLOBAL_DEBUG}
UGC_KAFKA_BOOTSTRAP_SERVERS=kafka-0:9092
UGC_KAFKA_GROUP_ID='ugc_group'

UGC_SERVICE_HOST=ugc
UGC_SERVICE_PORT=8003

# Clickhouse
CLICKHOUSE_SERVICE_PROTOCOL=http
CLICKHOUSE_SERVICE_HOST=clickhouse
CLICKHOUSE_SERVICE_PORT=8123

# ETL UGC
UGC_ETL_BATCH_SIZE=5
UGC_ETL_KAFKA_CONSUME_TIMEOUT_SECONDS=10
UGC_ETL_KAFKA_CONSUME_MAX_RECORDS=1000
UGC_MONGODB_HOST=mongodb
UGC_MONGODB_PORTS=27017:27017
UGC_MONGODB_PORT=27017
UGC_MONGODB_DATABASE_NAME=ugc

# ELK
ELK_KIBANA_PORTS=5601:5601
ELK_KIBANA_PORT=5601
ELK_ELASTIC_PORTS=9201:9200
ELK_ELASTIC_PORT=9201
ELK_ELASTIC_HOST=elk-elasticsearch
ELK_LOGSTASH_PORTS=5044:5044/udp
ELK_LOGSTASH_PORT=5044
ELK_LOGSTASH_HOST=elk-logstash