
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*e
docs_build
site_build
venv
docs.zip
archive.zip
.env

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

# auth data
services/auth_db/data

# admin data
services/admin_db/data
services/admin/static

# cache data
services/redis/data

# elastic data
services/es/data

# clickhouse data
services/clickhouse/data

# mongodb data
services/mongodb/data

# logs data
logs/

# github actions artifacts
flake8-report

# elk elastic data
services/elk-es/data

# kafka data
services/kafka/data
